body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    font-family: 'Segoe UI', Helvetica Nenu, Helvetica, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(180deg, #dddbd1, #d2dbdc);
}

.top {
    height: 130px;
    width: 100%;
    background-color: #009688;
    position: fixed;
    z-index: -1;
}

.chatbox {
    height: calc(100% - 40px);
    width: 95%;
    margin-top: 20px;
    padding: 0;
}

.profile-pic {
    height: 40px;
    width: 40px;
}

.form-rounded {
    border-radius: 1rem;
}

.friend-pic {
    height: 50px;
    width: 50px;
    margin-left: -10px
}

.name {
    font-weight: 400;
    color: #000;
}

.under-name {
    font-size: 12px;
    line-height: 15px;
    max-height: 15px;
}

.icon {
    font-size: 20px;
    color: #9CA1A3;
    cursor: pointer;
}

.chat-pic {
    height: 30px;
    width: 30px;
}

.receive {
    background-color: lightgreen;
    border-radius: 1rem;
    padding: 10px 15px;
    display: inline-block;
}

.sent {
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 10px 15px;
    display: inline-block;
}

.time {
    font-size: 10px;
    color: #9CA1A3;
    margin-top: 3%;
    margin-left: 1%;
}

.card {
    height: 94vh;
}

#messages {
    overflow-y: scroll;
    overflow-x: hidden;
}

#lstChat {
    overflow-y: scroll;
    overflow-x: hidden;
}

.dropdown-toggle::before {
    display: none !important;
}

.dropdown-toggle::after {
    display: none !important;
}

/* #emoji {
    position: absolute;
    top: -30vh;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0,0,0,0.23) 0px 3px 6px;
}

    #emoji #myTabContent {
        height: 20vh;
    } */
.emoji{
    position: absolute;
    top: calc(100% - 490px);
    left: 20px;
    box-shadow: 5px 5px 5px rgb(104, 100, 100);
}


#myTabContent a {
    text-decoration: none;
}

#notification {
    background-color: red;
    border: 1px solid red;
    border-radius: 50%;
    position: absolute;
    margin-top: -10%;
    font-size: 12px;
    width: 30%;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-left: -12%;
}

.member-menu{
    position: relative;
}
.list-themen{
    display:none;
    position: absolute;
    top: 0;
    width: 150px;
    max-width: 200px;
    background-color: rgb(255, 254, 254);
    box-shadow: -5px 5px 5px rgb(104, 100, 100);
    border-radius: 5px;
    list-style: none;
    right: calc(100%);
}


.member-themen{
    padding: 0;
    width: 150px;
    margin-left: -40px;
    font-size: 20px;
    margin-bottom: 2px;
    margin-top: 2px;
    border: 2px solid rgb(8, 188, 201);
    height: 50px;
    text-align: center;
}

.member-themen:hover{
    opacity: 0.9;
}

.dropdown-menu li:hover .list-themen {
 display: block;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.green{
  background-color: green;
}

.gray{
  background-color: gray;
}

.white{
  background-color: white;
}

.black{
  background-color: black;
}

.violet{
  background-color: violet;
}

.purple{
  background-color: purple;
}

.yellow{
  background-color: yellow;
}

.brown{
  background-color: brown;
}

